* {
    margin: 0;
    box-sizing: border-box;
}

button {
    border: 0;
    background: none;
    cursor: pointer;
}

html {
    overflow: hidden;
    height: 100vh;
}

header {
    background-color: #1E2E61;
    color: white;
    padding: 16px;
}

body {
    position: relative;
    height: 100%;
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: 0 6px 12px -12px grey;
    padding: 10px;
    margin-bottom: 20px;
}


main div {
    overflow: auto;
}

table {
    width: 100%;
    border: none;
}

input {
    padding: 4px 12px; 
}

.table-headings {
    background-color: rgba(192, 192, 192, 0.473);
    color: white;
    height: 60px;
}

.options {
    display: flex;
    justify-content: center;
    gap: 30px;
}

tr:nth-child(even) {
    background-color: aliceblue;
}

td {
    text-align: center;
    height: 40px;
    padding: 0 10px;
    white-space: nowrap;
}

.delete,
.erase-all {
    color: red;
}

.change {
    border: 0;
    background: none;
}

footer {
    position: absolute;
    bottom: 0;
    /* color: white; */
    /* background-color: rgba(192, 192, 192, 0.178); */
    width: 100%;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 3px 3px 6px silver;
}

footer img {
    max-width: 30px;
}